# Copy outside Git, replace every placeholder, then pass it to scripts/render.sh.
INCIDENT_NAMESPACE={{INCIDENT_NAMESPACE}}
ARGO_EVENTS_NAMESPACE={{ARGO_EVENTS_NAMESPACE}}
ARGO_WORKFLOWS_NAMESPACE={{ARGO_WORKFLOWS_NAMESPACE}}
KAFKA_BOOTSTRAP_SERVERS={{KAFKA_BOOTSTRAP_SERVERS}}
KAFKA_TOPIC={{KAFKA_INCIDENT_TOPIC}}
KAFKA_CREDENTIALS_SECRET={{KAFKA_CREDENTIALS_SECRET}}
COORDINATOR_IMAGE={{PRIVATE_REGISTRY}}/aks-incident-coordinator:{{IMAGE_TAG}}
KAGENT_A2A_URL={{KAGENT_A2A_URL}}
KAGENT_EXECUTOR_A2A_URL={{KAGENT_EXECUTOR_A2A_URL}}
GITLAB_MCP_URL={{GITLAB_MCP_URL}}
TEAMS_APPROVAL_URL={{TEAMS_APPROVAL_URL}}
SERVICENOW_RELAY_URL={{SERVICENOW_RELAY_URL}}
APPROVAL_CALLBACK_BASE_URL={{APPROVAL_CALLBACK_BASE_URL}}
ARGO_APPROVAL_CALLBACK_URL={{ARGO_APPROVAL_CALLBACK_URL}}
ARGO_UI_BASE_URL={{ARGO_UI_BASE_URL}}
INVESTIGATOR_AGENT_NAME={{INVESTIGATOR_AGENT_NAME}}
EXECUTOR_AGENT_NAME={{EXECUTOR_AGENT_NAME}}
MODEL_LABEL={{MODEL_LABEL}}
REMEDIATION_NAMESPACE={{REMEDIATION_NAMESPACE}}
REMEDIATION_DEPLOYMENT={{REMEDIATION_DEPLOYMENT}}
REMEDIATION_LABEL_KEY={{REMEDIATION_LABEL_KEY}}
REMEDIATION_LABEL_VALUE={{REMEDIATION_LABEL_VALUE}}
GITLAB_PROJECT_PATH={{GITLAB_PROJECT_PATH}}
GITLAB_TARGET_BRANCH={{GITLAB_TARGET_BRANCH}}
GITOPS_FILE_PATH={{GITOPS_FILE_PATH}}
