# Copy this file to values.env. values.env is ignored and must not be committed.
WORKER_NAMESPACE={{NON_PRODUCTION_WORKER_NAMESPACE}}
MANAGEMENT_NAMESPACE={{MANAGEMENT_NAMESPACE}}
WORKER_CLUSTER_NAME={{WORKER_CLUSTER_NAME}}
KAFKA_BOOTSTRAP={{CONFLUENT_BOOTSTRAP}}
KAFKA_TOPIC=triage.{{ENVIRONMENT}}.{{TENANT}}.evidence.v3
KAFKA_CONSUMER_GROUP={{MANAGEMENT_CONSUMER_GROUP}}
KAFKA_SECRET_NAME={{EXISTING_CONFLUENT_SECRET}}
KAFKA_CA_SECRET_NAME={{EXISTING_KAFKA_CA_SECRET}}
GITLAB_SECRET_NAME={{EXISTING_GITLAB_SECRET}}
IDEMPOTENCY_CLAIM_URL={{APPROVED_IDEMPOTENCY_CLAIM_URL}}
IDEMPOTENCY_SECRET_NAME={{EXISTING_IDEMPOTENCY_SECRET}}
KAGENT_A2A_URL={{READ_ONLY_KAGENT_A2A_URL}}
KAGENT_AGENT_NAME={{READ_ONLY_KAGENT_AGENT_NAME}}
ARGO_EVENTS_SERVICE_ACCOUNT={{EXISTING_ARGO_EVENTS_SERVICE_ACCOUNT}}
ARGO_WORKFLOW_SERVICE_ACCOUNT={{EXISTING_ARGO_WORKFLOW_SERVICE_ACCOUNT}}
